.new-test-panel {
    width: 70vw;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.new-test-class-chooser {
    display: flex;
    height: 7vh;
    align-items: center;
    justify-content: space-around;
}

.test-kind {
    font-size: 2vh;
    background-color: orange;
    width: 45%;
    height: 80%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.test-kind-selected {
    border-bottom: orangered 10px solid;
}

.test-details-container {
    height: 100%;
    display: flex;
    margin-top: 3vh;
    margin-left: 2vw;
    margin-bottom: 2vh;
}

.test-generator-container {
    width: 70%;
}

.template-container {
    flex-grow: 1;
    margin-right: 2vw;
}
