.new-test-view {
    position: absolute;
    left: 15vw;
    margin-top: 10vh;
    border: orange 4px solid;
    border-radius: 20px;
    height: 70vh;
    width: 70vw;
}

.new-test-view-container {
    height: 100vh;
}
