.test-template-chooser {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px orange solid;
    border-radius: 10px;
}

.templates-title {
    font-size: 3vh;
}

.templates-list-divider {
    width: 90%;
    border: blue 2px solid;
    border-radius: 10px;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.templates-list-item {
    width: 80%;
    margin-bottom: 1em;
}

.highlight-template {
    border-bottom: red 1px solid;
}

.template-name {
    cursor: grab;
}

.bullet {
    height: 1em;
    width: 1em;
    color: red;
    border-radius: 10px;
    margin-right: 1em;
}

.template-delete-button {
    color: red;
    float: right;
    margin-right: 1vw;
}

.template-delete-button:hover {
    background-color: lightgreen;
    cursor: grab;
}
