.login-view {
    height: 100vh;
    min-height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    border: green 2px solid;
    border-radius: 15px;
}

.username-input-container {
    padding: 1vh;
}

.username-input {
    font-size: 3vh;
}

.password-input-container {
    padding: 1vh;
}

.password-input {
    font-size: 3vh;
}

.submit-input-container {
    height: 100%;
    padding: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.submit-input {
    background-color: green;
    height: 5vh;
    width: 10vw;
    font-size: 3vh;
}

.login-form-title {
    text-align: center;
    bottom: 50%;
}

.login-error {
    padding: 2vh;
    color: red;
}
