.url-display-panel-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.url-display-panel-title {
    width: 100%;
    text-align: center;
    color: lightgreen;
    font-size: 6vh;
}

.copied-to-clipboard-message-container {
    text-align: center;
}

.url-display-box {
    font-size: 3vh;
    border-bottom: blue 2px solid;
    margin: 1em;
}

.url-display-action-buttons-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.url-display-action-button {
    width: 20%;
    background-color: orange;
    border-radius: 10px;
}
