.new-dual-n-back {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.test-properties-entry-form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.test-properties-actions {
    height: 10vh;
    margin-top: 2vh;
    display: flex;
}

.test-action-button {
    background-color: orange;
    height: 7vh;
    width: 7vw;
    margin-left: 2vw;
    border-radius: 10px;
}
