.save-template-modal-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.save-template-modal-title {
    color: lightgreen;
    font-size: 4vh;
    text-align: center;
    margin-bottom: 2vh;
}

.save-template-modal-network-err {
    color: red;
}

.save-template-modal-save-button {
    background-color: orange;
    width: 40%;
    height: 7vh;
    border-radius: 10px;
}

.save-template-modal-input {
    border: transparent;
    border-bottom: blue 2px solid;
    width: 60%;
    text-align: center;
    font-size: 3vh;
}

.save-template-modal-input:focus {
    border-bottom: red 2px solid;
}

.disabled {
    background-color: lightgray;
}
