.header-container {
    height: 7vh;
    background-color: green;
    font-size: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout-button {
    position: absolute;
    right: 1vw;
    top: 2vh;
    background-color: orangered;
    font-size: 2vh;
    width: 7vw;
    border-radius: 10px;
}
