body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

* {
  box-sizing: border-box;
  /*border: red 1px solid;*/
}

*:focus {
  outline: none;
}

.rb {
  border: red 5px solid;
}

button {
  border: transparent 0 solid;
}

.property-input-container {
  display: flex;
  align-items: center;
}

.property-input {
  padding-left: 1em;
  margin-left: 1em;
  border: transparent;
  border-bottom: 1px blue solid;
  text-align: center;
  width: 20em;
}
